# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/

uploaded_files/

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment Variables
.env
.env.*

# Dependency directories
lib/
lib64/